body {
    margin: 0px;
    padding: 20px;
}

#number {
    text-decoration: underline;
    font-size: larger;
}

#string {
    text-decoration: underline;
    font-size: larger;
}

#boolean {
    text-decoration: underline;
    font-size: larger;
}

